body {
  margin: 0;
  
}

.navbar {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  height: 100px;
  background-color: black;
  color: darkgray;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot {
  height: 100px;
  background-color: burlywood;
  color: purple;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Morning {
  background-color: yellow;
  color: darkseagreen;
  
}

.Night {
  background-color: black;
  color: blanchedalmond;
  
}
 